@using Api.Tese.Entities

@{
    List<Student> list = ViewBag.listStudents;

    string message = ViewBag.TestMessage;

   
}



<form class="" id="frmStudents" style="display:grid;grid-template-columns:1fr 2fr 1fr" asp-controller="Student" asp-action="Index" >

    <label> Ingrese nombre de estudiante:</label>
    <input id="name" type="text" class="form form-control" name="nameStudent" />
    <input type="submit" value="Buscar" class="btn btn-info"/>
</form>



<h1>Estudiantes</h1>


<p>@message:</p>

<div class="">

    <div class="col-md-6">

        
        

    </div>


    <div class="col-md-12">

        <table  style="font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Edad
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>



                    @if(list != null)
                    {
                        @foreach(var student in list)
                        {
                            
                           <tr>
                                <td>
                                @student.Id
                            </td>
                             <td>
                                @student.Name

                            </td>
                            <td>
                                @student.LastName
                        
                            </td>
                             <td>
                                 @student.Age
                        
                            </td>
                            <td>
                               <i onclick="EliminarEstudiante(@student.Id)"> Borrar</i>
                            </td>
                           </tr>
                             
                        }

                    }
                    else
                    {
                        <td>No existe registro..............</td>
                    }

               
            </tbody>
        </table>

    </div>

</div>


<form asp-controller="Student" asp-action="Eliminar" id="frmDelete">

    <input type="text" id="txtIdEstudiante" name="Id"/>
</form>

<script>

    function EliminarEstudiante(idEstudiante){
        alert(idEstudiante);
       
    }
   


</script>
